.vs/
bin/
obj/



# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular build output
/dist
/out-tsc

# Angular cache
/.angular
/.cache

# Environment files (اختياري لو فيها secrets)
src/environments/*.local.ts
src/environments/*secret*.ts

# IDEs & Editors
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Test coverage
/coverage

# Temporary files
*.tmp
*.temp
*.swp

# Angular Universal
/server/dist

# Compiled files
*.js
*.map
