<h2>Add Student</h2>

<mat-card>
  <form [formGroup]="form" (ngSubmit)="submit()">

    <mat-form-field appearance="outline" class="full">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Class</mat-label>
      <mat-select formControlName="classId">
        <mat-option *ngFor="let c of classes" [value]="c.id">
          {{ c.name }} — {{ c.teacherName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Save
    </button>

    <button mat-button color="warn" type="button" (click)="cancel()">
      Cancel
    </button>

  </form>
</mat-card>
